<!DOCTYPE html>
<html>
<head>
  <title>:: Scripted Technologies ::</title>
  <%= favicon_link_tag 'myicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<%= render 'application/nav_bar' %>
	<%= yield %>
</body>
</html>
